/* Hand Animations for moving into screen */

/* Makes the left hand fly in at end of countdown, then bounces after collision*/
#left.alt {
	float: left;
	width: 50%;
	/* position: relative; */
	animation-name: leftMove;
  animation-duration: 6s;
}

/* Makes the right hand fly in at end of countdown, then bounces after collision*/
#right.alt {
	float: right;
	width: 50%;
	animation-name: rightMove;
  animation-duration: 6s;
}

/* Hand animations for winning */

/* Makes the left hand start spinning */
#left.spinLeft {
	animation-name: spinLeft;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* Makes the right hand start spinning */
#right.spinRight {
	animation-name: spinRight;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* Hand animations for losing */

/* Makes the left hand "sad" motion */
#left.leftLose {
	animation-name: leftLose;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* Makes the right hand "sad" motion */
#right.rightLose {
	animation-name: rightLose;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* Hidden Div State and Animations for Player Wins and Tie */
#oneWinner {
	position: absolute;
	left: -600px;
	height: 400px;
	width: 500px;
	z-index: 1;
}

/* Displays the text that player one wins, makes div fly into screen from the left, slow down in the middle, and fly out to the right */
#oneWinner.alt {
	position: absolute;
	left: -600px;
	top: 250px;
	height: 400px;
	width: 500px;
	font-size: 100px;
	font-family: 'Cabin Sketch', cursive;
	color: rgb(26, 148, 255);
	background-color: transparent;
	z-index: 1;
	animation-name: winOne;
	animation-duration: 5000ms;
}

#twoWinner {
	position: absolute;
	top: -120px;
	height: 400px;
	width: 500px;
	z-index: 1;
}

/* Displays the text that player two wins, makes div fly into screen from the right, slow down in the middle, and fly out to the left */
#twoWinner.alt {
	position: absolute;
	right: -600px;
	top: 250px;
	height: 400px;
	width: 500px;
	font-size: 100px;
	font-family: 'Cabin Sketch', cursive;
	color: #FF4136;
	background-color: transparent;
	z-index: 1;
	animation-name: winTwo;
	animation-duration: 5000ms;
}

#tie {
	position: absolute;
	left: -1000%;
	height: 400px;
	width: 500px;
	z-index: 1;
}

/* Displays the text that there was a tie, makes div fly into screen from the top, slow down in the middle, and fly out to the bottom */
#tie.alt {
	position: absolute;
	left: 35%;
	top: -1200px;
	height: 400px;
	width: 500px;
	font-size: 100px;
	font-family: 'Cabin Sketch', cursive;
	color: white;
	background-color: transparent;
	z-index: 1;
	animation-name: tie;
	animation-duration: 3500ms;
}

/****** Animations Section *******/

/* Collision Animation for fists */

/* Makes the right hand fly in at end of countdown, then bounces after collision*/
@keyframes leftMove {
	0% { left: -100% }
	70% { left: -100% }
	80%{left: 20%; top: 0px;}
	81%{left: 19%; }
	82%{left: 18%; }
	83%{left: 17%; }
	84%{left: 16%; }
	85%{left: 15%; top: -100px;}
	86%{left: 14%; }
	87%{left: 13%; }
	88%{left: 12%; }
	89%{left: 11%; }
	90%{left: 10%; top: 0px;}
	91%{left: 9%; }
	92%{left: 8%; }
	93%{left: 7%; }
	94%{left: 6%; }
	95%{left: 5%; top: -50px;}
	96%{left: 4%; }
	97%{left: 3%; }
	98%{left: 2%; }
	99%{left: 1%; }
	100%{left: 0; top: 0px;}
}

/* Makes the right hand fly in at end of countdown, then bounces after collision*/

@keyframes rightMove {
	0% { right: -100% }
	70% { right: -100% }
	80%{right: 20%; top: 0px;}
	81%{right: 19%; }
	82%{right: 18%; }
	83%{right: 17%; }
	84%{right: 16%; }
	85%{right: 15%; top: -100px;}
	86%{right: 14%; }
	87%{right: 13%; }
	88%{right: 12%; }
	89%{right: 11%; }
	90%{right: 10%; top: 0px;}
	91%{right: 9%; }
	92%{right: 8%; }
	93%{right: 7%; }
	94%{right: 6%; }
	95%{right: 5%; top: -50px;}
	96%{right: 4%; }
	97%{right: 3%; }
	98%{right: 2%; }
	99%{right: 1%; }
	100%{right: 0; top: 0px;}
}

/* Losing Fist Animations */

/* Makes the left hand "sad" motion */
@keyframes leftLose {
	  0%   {transform:rotate(30deg);}
    25%  {transform:rotate(40deg);}
    50%  {transform:rotate(50deg);}
    75%  {transform:rotate(40deg);}
    100% {transform:rotate(30deg);}
}

/* Makes the right hand "sad" motion */
@keyframes rightLose {
    0%   {transform:rotate(330deg);}
    25%  {transform:rotate(320deg);}
    50%  {transform:rotate(310deg);}
    75%  {transform:rotate(320deg);}
    100% {transform:rotate(330deg);}
}

/* Winning Fist Animations */

/* Makes the left hand start spinning */
@keyframes spinLeft {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

/* Makes the right hand start spinning */
@keyframes spinRight {
    from {transform:rotate(360deg);}
    to {transform:rotate(0deg);}
}

/* Winning and Tie Div Animations */

/* Displays the text that player one wins, makes div fly into screen from the left, slow down in the middle, and fly out to the right */
@keyframes winOne {
	0% {left: -1000%}
	50% { left: 30% }
	75% { left: 30% }
	100% { left: 1000% }
}

/* Displays the text that player two wins, makes div fly into screen from the right, slow down in the middle, and fly out to the left */
@keyframes winTwo {
	0% {right: -1000%}
	50% { right: 30% }
	75% { right: 30% }
	100% { right: 1000% }
}

/* Displays the text that there was a tie, makes div fly into screen from the top, slow down in the middle, and fly out to the bottom */
@keyframes tie {
	0% { top: -100% }
	50% { top: 25% }
	75% { top: 25% }
	100% { top: 1000% }
}