/** {
	border: 1px solid black;
}*/
body {
	text-align: center;
	background-color: #7FDBFF; 
}

header {
	background-image: url('../images/background-game.png');
	background-size: cover; 
}
#arena {
	width: 100%;
	margin: 15% auto;
}

#left {
	float: left;
	width: 50%;
	position: relative;
}

#left.alt{
	float: left;
	width: 50%;
	position: relative;
	animation-name: leftMove;
  animation-duration: 5s;
}

#right {
	float: right;
	width: 50%;
	position: relative;
}

#right.alt {
	float: right;
	width: 50%;
	animation-name: rightMove;
  animation-duration: 5s;
}

#right.spin {
	animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.newHand {
	width: 300px;
}

.rock {
	width: 250px;
}

h1 {
	display: inline-block;
}

#countdown {
	font-size: 200px;
	position: absolute;
	top: 200px;
	left: 45%;
	font-family: 'Frijole', cursive;
}


@keyframes leftMove {
    0%   {left: -600px;}
    33%  {left: -600px;}
    66%  {left: -600px;}
    100% {left: 0px;}
}

@keyframes rightMove {
    0%   {right: -600px;}
    33%  {right: -600px;}
    66%  {right: -600px;}
    100% {right: 0px;}
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
