/** {
	border: 1px solid black;
}*/
body {
	text-align: center;
	background-color: #7FDBFF; 
}

/*Top Hub Section*/
header {
	background-color: #40451C;
	height: 13em;
}

.icon {
	height: 50px;
	width: 50px;
}

/*Control Lists in header*/
ul {
	display: inline-block;
	list-style: none;
}

li {
	font-size: 30px;
	font-family: 'Monoton', cursive;
	font-weight: bold;
}

#controls1 {
	float: left;
}

#controls2 {
	float: right;
	position: relative;
	right: 5%;
}

/*Player Score and button section*/
h1 {
	display: inline-block;
	font-family: 'Freckle Face', cursive;
	font-size: 60px;
}

#start {
	font-size: 30px;
	border-radius: 10px;
	color: white;
	background-color: black;
}

/* Arena/Hand area*/
#arena {
	width: 100%;
	margin: 15% auto;
}

#left {
	float: left;
	width: 50%;
	position: relative;
}

#right {
	float: right;
	width: 50%;
	position: relative;
}

/*Hand Animations for moving into screen*/
#left.alt{
	float: left;
	width: 50%;
	position: relative;
	animation-name: leftMove;
  animation-duration: 5s;
}

#right.alt {
	float: right;
	width: 50%;
	animation-name: rightMove;
  animation-duration: 5s;
}

/*Hand animations for winning*/
#left.spin {
	animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#right.spin {
	animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/*Sets size of chosen hand (rock, paper, scissors)*/
.newHand {
	width: 350px;
}

/*Rock was weird so had to set a custom size to match paper and scissors*/
.rock {
	width: 300px;
}

/*Style for the countdown timer that appears after button press*/
#countdown {
	font-size: 200px;
	position: absolute;
	top: 200px;
	left: 45%;
	font-family: 'Frijole', cursive;
}


/*Animations section*/
@keyframes leftMove {
    0%   {left: -600px;}
    33%  {left: -600px;}
    66%  {left: -600px;}
    100% {left: 0px;}
}

@keyframes rightMove {
    0%   {right: -600px;}
    33%  {right: -600px;}
    66%  {right: -600px;}
    100% {right: 0px;}
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
